#set ($entityName = $entity.substring(0,1).toLowerCase() + $entity.substring(1,$entity.length()))
<!doctype html>
<html lang="en">
<#head/>
<body>
<div style="margin-top: 10px;">
    您所在的位置 :
    <span class="layui-breadcrumb">
        <a href="">${table.comment}管理</a>
    </span>

    <hr class="layui-bg-gray">

    <div id="search-form" style="margin-top: 20px;"></div>

    <hr class="layui-bg-gray">

    <div>
        <span style="font-weight: 900; font-size: 25px;">${table.comment}列表</span>
        <button id="project-add-button" class="layui-btn add-button"><i class="layui-icon">&#xe654;</i>新增</button>
    </div>

    <hr class="layui-bg-gray">

    <table id="projectList" class="layui-table" lay-filter="projectList"></table>
</div>

<script type="text/html" id="${entityName}ToolBar">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm" lay-event="edit">编辑</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">删除</button>
    </div>
</script>

<script type="text/html" id="projectTypeBar">
    {{#  if(d.projectType == '1'){ }}
    <span style="">网络研修</span>
    {{#  } else if(d.projectType == '2'){ }}
    <span style="">校本研修</span>
    {{#  } else { }}
    <span style="">错误</span>
    {{#  } }}
</script>

<script>
    layui.use(['table', 'form', 'element', "search"], function () {
        var $ = layui.jquery,
                table = layui.table,
                element = layui.element,
                search = layui.search;

        var projectTable = table.render({
            elem: '#projectList',
            size: "lg",
            cols: [[
                {field: 'projectId', title: '项目ID', align: 'center'},
                {field: 'projectCode', title: '项目编号', align: 'center'},
                {field: 'projectName', title: '项目名称', align: 'center'},
                {templet: '#projectTypeBar', title: '项目类型', align: 'center'},
                {field: 'appId', title: '应用ID', align: 'center'},
                {field: 'remark', title: '备注', align: 'center'},
                {toolbar: '#projectToolBar', title: '操作', fixed: 'right', align: 'center'}
            ]],
            url: '/api/organization/plan/plan',
            method: 'get',
            id: 'projectList',
            page: true,
            limit: 10
        });

        table.on('tool(projectList)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;

            if (layEvent === 'delete') {
                parent.layer.confirm('删除后不可使用，是否确认？', {icon: 3, title: '敏感操作'}, function (index) {
                    $.ajax({
                        type: "delete",
                        url: "/api/organization/project/project/" + data.projectId,
                        success: function (result) {
                            if (result.status == '0') {
                                parent.layer.msg('删除成功', {icon: 1, time: 1000}, function () {
                                    obj.del();
                                    projectTable.reload();
                                });
                            } else {
                                parent.layer.msg('删除失败:' + result.message, {icon: 2});
                            }
                        }
                    });
                    parent.layer.close(list);
                });
            } else if (layEvent === 'edit') {
                window.location.href = '/organization/project/project/add/?projectId=' + data.projectId;
            }
        });

        $('#project-add-button').on('click', function () {
            window.location.href = '/organization/project/project/add/';
        });

        search.render('#search-form', projectTable, {
            "projectName": "项目名称"
        });
    });
</script>
</body>
</html>
